@{
    ViewData["Title"] = "Suporte";
}
<br /><br />

<div class="col-12">
    <div class="card">
        <div class="card-header card-header-icon card-header-primary" id="">
            <div class="row">
                <div class="card-icon" id="minimizeSidebar">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                     &nbsp
                </div>
                <h4 class="card-title">
                    Suporte
                </h4>
            </div>
        </div>
        <div class="card-body card-body-left">
            <h1>Para problemas entrar em contato via chamados.</h1>
            <p> Ao abrir um chamado para equipe de Ti, informar a "Url" da tela que está com problema, descrever o problema
                ocorrido, se possivel anexar print e gravações do problema que está ocorrendo.<br />
                Para que o problema seja entendido e resolvido da melhor forma possivel .<br />
                Grato equipe desenvolvimento.
            </p>
          <a href="" target="_blank" >Abrir chamado</a>
        </div>
    </div>
</div>
