@page
@using JuntoSeguros.Areas.Identity.Pages.Account
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Redefinir senha";
}

<h1>@ViewData["Title"]</h1>

<!-- Table -->
<div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                    <h2>
                        Por favor, verifique seu e-mail para redefinir sua senha ou confirmar seu email.
                        <br />
                        <a class="btn btn-primary" href="/Login">
                            Voltar ao login
                        </a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
@section IdentityHeader
{
<div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
</div>
}