@{
    ViewData["Title"] = "Acesso";
}
<br /><br />

<div class="col-12">
    <div class="card">
        <div class="card-header card-header-icon card-header-primary" id="">
            <div class="row">
                <div class="card-icon" id="minimizeSidebar">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                     &nbsp
                </div>
                <h4 class="card-title">
                    Acesso
                </h4>
            </div>
        </div>
        <div class="card-body card-body-left">
            <h1>Seu perfil não tem acesso a esta funcionalidade! Contate um administrador</h1>
            <p>  </p>
        </div>
    </div>
</div>
